<div class="login-head">
    <header>
    <img src="/log.png" alt="Logo" class="logo">
    <div class="user" >
    <div id="datetime" class="time">
        <p><%= formattedDate %></p>

    </div>
    </div>
    <h5 class="main-title-login">Sahakarmaharshi Hon.Jaywantrao Bhosale (Appa) Nagari Sahakari Patsantha Maryadit., Karad</h5>
    </header>
</div>
    