<div class="login-head">
    <header>
    
    <div class="user" >
    <div id="datetime" class="time">
        <p><%= formattedDate %></p>
    </div>
    </div>
    <h5 class="main-title-login">Bank Name and Logo</h5>
    </header>
</div>
    