<div class="head">
    <header>
    <img src="./images/log.jpeg" class="logo" >
    <img src="./images/user.jpeg" class="logo1" >
    <div class="user" >Branch Name :- HEAD OFFICE
    <div id="datetime" class="time">
    </div>
    </div>
    <h5 class="main-title">Sahakarmaharshi Hon.Jaywantrao Bhosale (Appa) Nagari Sahakari Patsantha Maryadit., Karad</h5>
    </header>
    </div>
    <div class="imp-navbar navbar navbar-expand-lg ">
    <nav>
        <ul>
            <li><a href="#about">Home</a></li>
                <div class="dropdown">
                    <li class ="dropbtn">Master</li>
                     <div class="dropdown-content">
                     <a href=""> cast </a>
                     <a href=""> Pay section master </a>
                    <a href=""> Grade master </a>
                    <a href=""> Section </a>
                     <a href="table1.html"> Allowance </a>
                    <a href=" "> Allowance Footer </a>
                    <a href=" "> Deduction </a>
                     <a href=""> Deduction Footer </a>
                    <a href=""> Leave </a>
                    <a href=""> Leave Reason Master </a>
                    <a href=""> Leave Issue </a>
                    <a href=""> D.A.Index</a>
                    <a href=""> Working Year </a>
                    <a href=""> System Parameter Master </a>
                    </div>
                    </div>
            <li><a href="#Daily Working">Daily Working</a></li>
            <li><a href="#Registers">Registers</a></li>
            <li><a href="#House">House Keeping</a></li>
            <li><a href="#contact">Logout</a></li>
        </ul>
    </nav>
</div>