body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto !important;
}

.head {
    border: #7556A6 0.3rem solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #7556A6 !important;
    text-align: center;
    padding: 4px;
    box-sizing: content-box;
    margin: 4px;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
}
.main-title{
    margin-top: 1rem;
    margin-left: 8rem !important;
}
.logo
{
    position: absolute;
    right: 1rem;
    left: 1rem;
    height: 5rem;
    width: 5rem;
    top: 1rem;
}
.logo1
{
    top: 3rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    right: 3rem;
    width: 3rem;
}
.user
{
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 70px;
    color: #ecf3f0;

}
.user-info{
    text-align: end;
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: small;
    color: #7556A6 !important;
}
.time
{
    color: #ecf3f0;
}
.imp-navbar {
    background-color: #7556A6;
    color: #fff !important;
    padding: 10px;
    margin: 0 4px 0 4px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li{
    margin-left: 3rem;
}
nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
    margin-right: 90px;
}

.dropbtn
{
    margin-right: 90px;
    

}
.dropdown-content {
    position: absolute;
    width: 20rem;
    height: 1rem;
    display: none;
    z-index: 1;
    
}

.dropdown-content a:hover
{
    background-color: 	#0818A8;
    min-height: 5px;
}
.dropdown-content a {
    color: white;
    padding: 9px 12px;
    text-decoration: none;
    display: block;
    background-color: #6495ED;

    
}
.dropdown:hover .dropdown-content {
    display: block;
    
}

.home
{
    padding: 4px;
    background-color: #b7b3ffdb;
    margin:0px 0.1rem 0px 0.1rem;
    height: 1.5rem;
    width:91.5rem;

}
h6
{
    text-align: center;
}
footer { 
    background-color: white;
    color: grey;
    text-align: center;
    margin-left: 0rem !important;
    position: fixed;
    bottom: -1.5rem;
    width: 100%;
    height: 6%;
}

.phone
{
  position: absolute;
  right: 30px;
}
/* Login Header */
.login-head {
    border: #dfa51f 0.1rem solid;
    border-bottom: #dfa51f 0.3rem solid;
    color: white !important;
    text-align: center;
    box-sizing: content-box;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
    padding: 0.1rem;
    margin: 0.1rem;
    justify-content: center;
    background-color: #051C82;
}
.main-title-login{
    font-weight: 600 !important;
    margin-top: 1rem;
}

.time{
    font-size: small;
    margin-right: 0rem;
    font-weight: 500;
}
.img-hon{
    height: 200px;
    width: 100px;
    margin-left: 1rem !important;
    position: absolute;
}
.login-container{
    display: flex;
    
}

.login-box{
    margin-left: 40rem;
    margin-top: 2rem;
    text-shadow: #0818A8;   
}
.login-form {
    justify-content: center;
    margin-left: -1rem;
    margin-top: 2rem;
    text-shadow: #6495ED ;
    flex: 1;
    border: rgba(0, 0, 0, 0.402) solid 0.05rem;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 25rem;
    border-top: #3953c7 solid 1.5rem;
}


label {
    display: inline;
    margin-bottom: 5px;
}

input {
    width: 15rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button,
.cancel-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
}

.login-button {
    background-color: #3953c7 !important;
    color: #fff !important;
    font-weight: 500 !important;
}

.cancel-button {
    background-color: #3953c7 !important;
    color: #fff !important;
    font-weight: 500 !important;
}
.username-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.password-container
{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Cast Master */
.cast-master{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tab-pane{
    display: none;
}
.tab-pane.active{
    display: block;
    height: max-content;
    width: 60rem;
    border: black solid 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

    .tab-btn.active{
        background-color: #857efc !important;
        color: #fff !important;
    }
.tab-btn {
    background-color: #fff;
    font-weight: 500 !important;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    color: black !important;
    margin-left: 0.5rem !important;
    text-decoration: none !important;
}
.tab-container {
    overflow: hidden;
}
.tab-btn:hover {
    background-color: #ddd;
}

.open-title{
    margin: 0.03rem;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    background-color: #b0acfa;
    color: #fff;
    border: #857efc solid 0.04rem;
    border-radius: 0.05rem;
    align-items: center;
}
.code-container{
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.code-container input{
    height: 1.35rem;
    border-radius: 0.01rem;
}
#code, #name{
    width: max-content;
}
#code:hover{
    background-color: #b0acfa !important;
    color: #fff !important;
}
#name:hover{
    background-color: #b0acfa !important;
    color: #fff !important;
}
.btn-grp-open {
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-grp-open button{
    background-color: #857efc;
    margin: 0.2rem;
    width: 4rem;
    color: #fff;
    font-weight: 500;
}
.cast-table{
    width: 50rem;
    padding: 1rem;
    margin: 0 5rem;
}
.table-header th{
    background-color:#9590f3 !important;
    color: #fff !important;

}
form button{
    color: #0818A8 !important;
}

.modify{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

/* Employee Information */
.employee-container{
    margin: 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -14.9rem;
    height: 100%; /* Adjust this height as needed */
   
}
.employee-container input{
    height: 1.75rem;
    border-radius: 0.01rem;
}
.search-btn{
    height: 2.2rem;
}
.emp-name{
    margin-left: -18rem;
}
.type-dropdown{
    height: 1.75rem;
    width: 7rem;
    
}

.emp-dropdown{
    margin-left: -18.3rem;
}
.general-container{
    margin-top: 0.5rem;
}
.general-container input{
    height: 1.35rem;
    border-radius: 0.01rem;
}
.grade-code{
    margin-left: 1.8rem !important;
}
.section-code{
    margin-left: 1.2rem;
}
.branch-code{
    margin-left: 1.4rem;
}
.grade-code input, .section-code input, .branch-code input{
    width: 7rem !important;
}

.joining-date{
    margin-left: 1.4rem;
}
.permanent-date{
    margin-left: 0.1rem;
}
.pt-check{
    color: gray;
    font-size: small !important;
    margin-left: 8rem;
}
.btn-grps-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/* Other Information from Employee Information */
.other-information{
    margin-top: 1rem;

}
.other-container input{
    height: 1.35rem;
    border-radius: 0.01rem;
}
.education input {
    margin-top: 1rem;
    margin-left: 1.9rem;
}
.institute input{
    margin-left: 1.7rem;
}
.language input{
    margin-left: 0.3rem;
}
.gender input{
    margin-left: 5rem;
}
.caste input{
    margin-left: 5.8rem;
}
.fathername input{
    margin-left: 1.8rem;
    margin-bottom: 1rem;
}

/* Address */
.address-container textarea{
    width: 35rem !important;
    height: 4rem;
    border-radius: 0.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Personal */
.personal-container input{
    height: 1.35rem;
    border-radius: 0.01rem;
    margin-top: 0.5rem;
}
.blood-grp input{
    margin-left: 2.5rem;
}
.birthdate input{
    margin-left: 4rem;
}
.mothertongue input{
    margin-left: 1.5rem;
}
/* Pay Correction */
.pay-container{
    margin-top: 1rem;
    margin: 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -14.9rem;
    height: 100%; /* Adjust this height as needed */
}
.pay-container input{
    height: 1.75rem;
    border-radius: 0.01rem;
}
.empCode input, .branch input, .gradeCode input{
    width: 5rem !important;
}
.empCode, .branch, .gradeCode{
    margin-right: 0.5rem !important;
}
.empCode{
    margin-left: -16.1rem;
}
.gradeCode{
    margin-left: -14.6rem;
}
.pay-month{
    margin-top: 1rem;
    margin-left: -8rem;
}
.pay-date{
    margin-left: -9.2rem;
}
.basic-pay{
    margin-top:0.2rem;
    margin-left: 12.6rem;
}
.da{
    margin-left: 5rem;
}
.amount{
    margin-left: -11.5rem;
}
.selectA input{
    height: auto;
}
.form-check-label{
    font-size: small !important;
}
.selectA{
    margin-left: -10rem;
}