<% layout('./layouts/boilerplate') %>
<body>
    <div class="cast-master">
        <div class="master-tab">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Add new</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Open Existing</a>
                </li>
                
              </ul>
        </div>
    </div>
</body>